<div class="container">
  <h2 class="text-center mt-4">Heroes</h2>
  <form [formGroup]="heroList">
    <div class="row">
      <div class="col-md-12">
        <label for="name"
          > <h4>Add new Hero: </h4><input type="text" formControlName="name" />
        </label>
        <button
          class="btn btn-primary m-1 btn-sm"
          type="submit"
          (click)="addHero()"
          [disabled]="!this.heroList.valid"
        >
          Add
        </button>
      </div>
    </div>
  </form>
  <div class="row mt-4 mb-4">
    <div class="col-md-6">
      <app-heroes-list></app-heroes-list>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
